**/bin/
**/obj/
**/out/
**/.vs/
**/.idea/
**/.vscode/
**/[Bb]in/
**/[Oo]bj/
**/.git/
**/.github/
**/*.user
**/*.suo
**/*.DotSettings.user
**/[Tt]est[Rr]esults/
**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/*.md
**/.gitignore
**/LICENSE
**/node_modules/
**/publish/
deploy/
